html {
    height: 100%;
}

body {
    background: url('/media/homepage_image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Montserrat', sans-serif;
}

.header-container {
    padding-top: 164px;
}

/* white overlay class */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.card-img-top {
    height: 50vh;
}

.cart-image {
    height: 25vh;
    width: 20vw;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}




