/* General rules across site */

html {
    height: 100%;
    font-size: 16px;
}

body {
    /*background: url('/media/homepage_image.jpg') no-repeat center center fixed;*/
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Dancing Script', cursive;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #EAEAEA;
    z-index: -1;
}

/* Colors 
#AD974F GOLD
#231F20 DARK GRAY
#EAEAEA OFF WHITE */


h2 {
    color: #AD974F;
}

.page-heading {
  padding-top: 125px;
}

.dropdown-item, .nav-link {
    color: #231F20;
}



/* Images */
.card-img-top {
    height: 50vh;
}

.cart-image {
    height: 25vh;
    width: 20vw;
}

/* Messages */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.product-details-container {
  padding-top: 125px;
}







/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  
  

  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }

  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }


  
  
  /*  Carousel */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  /* Buttons */ 
  .btn, button {
    background-color:#AD974F;
    color: #EAEAEA;
    border-radius: 2px;
    padding: 4px;
  }

#blog-row {
  padding-top: 125px;
}

h1 {
  color: #231F20;
  font-size: 40px;
}




