{% extends "base.html" %}
{% load static %}
{% block header %}
{% endblock %}
{% block main_content %}
<div class="container header-container">
    <div class="row">
        <div class="col page-heading text-center">
            <h1>Oops - It looks like something has gone wrong!</h1>
        </div>
    </div>
    <div class="row">
       <div class="col-12">
            <p>You can go back to our homepage, here:</p>
            <a href="{% url 'home' %}" class="item-link-light item-link-button  flex-center m-auto">Home</a>
        </div>
    </div>
</div>
{% endblock %}