{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
    
    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Dulwich Interiors</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
      <div id="topnav" class="row bg-white pt-lg-2">
        <div class="col-12 col-lg-4">
          <a href="{% url 'home' %}" class="navbar-brand"><h2>Dulwich Interiors</h2></a>
        </div>

        <div class="col-12 col-lg-4">
          <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
              <input class="form-control" type="text" name="q" placeholder="Search our products">
              <div>
                <button class="form-control" type="submit">Search</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-12 col-lg-4">
          <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="nav-item dropdown list-inline-item">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">My Account</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                    <a href="" class="dropdown-item">Product Management</a>
                  {% endif %}
                  <a href="" class="dropdown-item">My Profile</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                
                {% endif %}
              </div>
            </li>
            <li class="list-inline-item">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_cart' %}">
                    <div class="text-center">
                        <div>Shopping cart</div>
                        <p class="my-0">
                            {% if grand_total %}
                                £{{ total|floatformat:2 }}
                            {% else %}
                                £0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
        </div>
      </div>
      <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav w-auto mx-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'products' %}">
                      All Products
                  </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="roomDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Shop by room
                </a>
                <ul class="dropdown-menu" aria-labelledby="roomDropdown">
                  <li><a class="dropdown-item" href="{% url 'products'%}?category=kitchen">Kitchen</a></li>
                  <li><a class="dropdown-item" href="{% url 'products'%}?category=living_room">Living Room</a></li>
                  <li><a class="dropdown-item" href="{% url 'products'%}?category=bedroom">Bedroom</a></li>
                  <li><a class="dropdown-item" href="{% url 'products'%}?category=bathroom">Bathroom</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                    News
                </a>
            </li>
          </div>
      </div>
    </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

  </body>
</html>